html {
	background: url(georgia-vagim-ny-lHmsHYHk-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 100%
}

body {
	background-color: transparent;
}


#search {
	margin: 20px;
}

#watchlistBtn, #searchBtn {
	background: none;
	color: inherit;
	border: none; 
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	text-decoration:underline;
}


#search {
	border: 1px solid white;
	border-radius: 10px;
}


.row {
	display: flex;
	justify-content: space-evenly;
}

.col {
	flex-basis: 30%;
	margin: 10px;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	background-color: lightgrey;
}

@media only screen and (max-width: 600px) {
	.singleMovieDiv  {
		font-size: 6x; 
	}
  
}